{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% translate "Email Verification" %}
{% endblock head_title %}

{% block inner_content %}
    {% element h1 %}
        {% translate "Enter Email Verification Code" %}
    {% endelement %}
    {% setvar email_link %}
        <a href="mailto:{{ email }}">{{ email }}</a>
    {% endsetvar %}
    {% element p %}
        {% blocktranslate %}We’ve sent a code to {{ email_link }}. The code expires shortly, so please enter it soon.{% endblocktranslate %}
    {% endelement %}
    {% url 'account_email_verification_sent' as action_url %}
    <form method="post" action="{{ action_url }}"> {# Highlighted - Use a standard form tag #}
        {% csrf_token %}
        {{ form|crispy }} {# Highlighted - Use Crispy Forms to style the form #}
        {{ redirect_field }}
        <button type="submit" class="btn btn-primary"> {# Highlighted - Use Bootstrap button for styling #}
            {% translate "Confirm" %}
        </button>
        {% if cancel_url %}
            <a href="{{ cancel_url }}" class="btn btn-link"> {# Highlighted - Use anchor for cancel button #}
                {% translate "Cancel" %}
            </a>
        {% else %}
            <button type="submit" form="logout-from-stage" class="btn btn-link">
                {% translate "Cancel" %}
            </button>
        {% endif %}
    </form>
    {% if not cancel_url %}
        <form id="logout-from-stage"
              method="post"
              action="{% url 'account_logout' %}">
            <input type="hidden" name="next" value="{% url 'account_login' %}">
            {% csrf_token %}
        </form>
    {% endif %}
{% endblock inner_content %}
