{% extends "account/base_manage_password.html" %}
{% load i18n %}
{% load allauth %}
{% load crispy_forms_tags %}

{% block head_title %}
    {% trans "Set Password" %}
{% endblock head_title %}

{% block inner_content %}
    {% element h1 %}
        {% trans "Set Password" %}
    {% endelement %}
    {% url 'account_set_password' as action_url %}
    <form method="post" action="{{ action_url }}"> {# Highlighted - Use a standard form tag #}
        {% csrf_token %}
        {{ form|crispy }} {# Highlighted - Use Crispy Forms to render the form #}
        {{ redirect_field }}
        <button type="submit" name="action" class="btn btn-primary"> {# Highlighted - Use Bootstrap button for consistency #}
            {% trans 'Set Password' %}
        </button>
    </form>
{% endblock inner_content %}
