{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container custom-container my-1 p-4">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">My Wishlist</h2>
                <hr class="w-50 mb-3">
            </div>
        </div>
        <div class="row">
            {% if wishlist.products.all %}
                {% for product in wishlist.products.all %}
                    <div class="col-6 col-md-4 col-lg-3 mb-4">
                        <div class="card h-100 border-0">
                            <a href="{% url 'product_detail' product.id %}">
                                {% if product.image %}
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                {% else %}
                                    <img class="card-img-top img-fluid" src="{% static 'images/noimage.png' %}" alt="No Image Available">
                                {% endif %}
                            </a>
                            <div class="card-body text-center">
                                <p class="mb-0">{{ product.name }}</p>
                                <p class="font-weight-bold">${{ product.price }}</p>
                                <a href="{% url 'remove_from_wishlist' product.id %}" class="btn btn-sm btn-primary mt-2">Remove</a>
                                <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-primary mt-2">View Product</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col text-center">
                    <p class="mt-5">Your wishlist is empty.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
