{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container"></div>
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container custom-container my-1 p-4">

        <div class="container text-center">
            <h1 class="display-4 logo-font">FAQ's</h1>
            <p class="text-muted">Find answers to the most frequently asked questions</p>
            <hr class="w-50 mx-auto">
        </div>

        <div class="accordion" id="faqAccordion">
            {% for faq in faqs %}
                <div class="card mb-3 shadow-sm">
                    <div class="card-header" id="heading{{ forloop.counter }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block bg-dark text-left {% if not forloop.first %}collapsed{% endif %}" 
                                    type="button" 
                                    data-toggle="collapse" 
                                    data-target="#collapse{{ forloop.counter }}" 
                                    aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" 
                                    aria-controls="collapse{{ forloop.counter }}">
                                {{ faq.question }}
                            </button>
                        </h2>
                    </div>
                    <div id="collapse{{ forloop.counter }}" class="collapse {% if forloop.first %}show{% endif %}" 
                         aria-labelledby="heading{{ forloop.counter }}" 
                         data-parent="#faqAccordion">
                        <div class="card-body">
                            {{ faq.answer }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        

    </div>
{% endblock %}
