/* Import Rajdhani font from Google 
** modern feel which complements a brand focused on gaming and technology
*/
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
    /* Primary Color */
    --primary: #D32F2F; /* Red inspired by the logo */
    
    /* Grayscale Colors */
    --light: #DADADA; /* Light Gray - Background */
    --gray: #D3D3D3; /* Medium Gray - Secondary elements */
    --dark: #000000; /* Dark Black - Text, Headers */
    --white: #FFFFFF; /* White for neutral elements */
    
    /* Additional Bootstrap Overrides */
    --primary-hover: #C62828; /* Darker Red for hover effects */
    --border-color: #D3D3D3; /* For borders */
    --bg-body: #DADADA; /* Body background color */
    
    /* Accent Colors */
    --secondary-hover: #222222; /* Slightly lighter black for hover states */
    --button-bg: #000000; /* Black for buttons */
    --button-hover: #222222; /* Hover effect for buttons */
}

html {
    height: 100%;
}

body {
    background: url('/media/main-bg.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: var(--dark);
    font-family: 'Lato', sans-serif;
}

/* Caregory badge */
a.category-badge > span.badge:hover {
    background-color: var(--primary-hover);
}

/* Back-to-Top Button CSS */
.btt-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--light); /* Primary red color */
    border-radius: 50%; /* Circular button */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure it's above other content */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15); /* Subtle shadow for depth */
}

.btt-button:hover {
    background-color: var(--primary-hover); /* Darker red on hover */
    
    transform: scale(1.1); /* Enlarge button slightly */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow on hover */
}

.btt-link {
    text-decoration: none;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.btt-link:hover {
    color: var(--white);
}

.btt-button .fa-arrow-up {
    font-size: 20px;
    color: var(--white);
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .btt-button {
        width: 40px;
        height: 40px;
        bottom: 15px;
        right: 15px;
    }
    .btt-button .fa-arrow-up {
        font-size: 18px;
    }
}



/* container */
.custom-container {
    background-color: var(--white);
}

/* Icon */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* Button */
.shop-now-button {
    background: var(--button-bg);
    color: var(--white);
    min-width: 260px;
    border: 1px solid var(--border-color);
}

.btn-black {
    background: var(--button-bg);
    color: var(--white);
}

/* Hover, Active, Focus States for Buttons */
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: var(--button-hover); /* Lighter black for hover */
    color: var(--white);
}

.text-black {
    color: var(--dark) !important; /* Defined black color */
}

.border-black {
    border: 1px solid var(--dark) !important;
}

/* rajdhani font classes */
.rajdhani-light {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .rajdhani-medium {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .rajdhani-semibold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .rajdhani-bold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
/* Top Nav */
#top-nav {
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    border-bottom: 1px solid #000000;
}

/* Main Nav */
#main-nav-container {
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    border-bottom: 1px solid #000000;
}

/* Base styling for the navigation links */
.nav-link {
    color: #FFFFFF;
    position: relative; /* Required for pseudo-elements */
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #D32F2F;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #D32F2F;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover::before {
    visibility: visible;
    width: 100%;
}

.dropdown-item {
    color: #000000; 
    transition: color 0.3s ease, background-color 0.3s ease;
}

.dropdown-item:hover {
    color: #FFFFFF;
    background-color: #D32F2F;
}


/* delivery-banner */
#delivery-banner {
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
}

/* Button Styles */
button, .btn {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* Box Shadow on Hover */
button:hover, .btn:hover {
    box-shadow: 0 1px 10px rgba(255, 255, 255, 0.5); 
    transform: translateY(-2px); 
}

/* Optional active state */
button:active, .btn:active {
    box-shadow: 0 1px 10px rgba(255, 255, 255, 0.8); /* Stronger shadow on click */
    transform: translateY(0); /* Reset lift on click */
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}


@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}
