/* Import Rajdhani font from Google */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* Variables */
:root {
    /* Primary Color */
    --primary: #D32F2F; /* Red inspired by the logo */
    
    /* Grayscale Colors */
    --light: #DADADA; /* Light Gray - Background */
    --gray: #D3D3D3; /* Medium Gray - Secondary elements */
    --dark: #000000; /* Dark Black - Text, Headers */
    --white: #FFFFFF; /* White for neutral elements */
    
    /* Additional Bootstrap Overrides */
    --primary-hover: #C62828; /* Darker Red for hover effects */
    --border-color: #D3D3D3; /* For borders */
    --bg-body: #DADADA; /* Body background color */
    
    /* Accent Colors */
    --secondary-hover: #222222; /* Slightly lighter black for hover states */
    --button-bg: #000000; /* Black for buttons */
    --button-hover: #222222; /* Hover effect for buttons */
}

/* General Styles */
html { height: 100%; }

body {
    background: url('../images/main-bg.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: var(--dark);
    font-family: 'Lato', sans-serif;
}

/* Rajdhani Font Classes */
.rajdhani-light { font-family: "Rajdhani", sans-serif; font-weight: 300; font-style: normal; }
.rajdhani-regular { font-family: "Rajdhani", sans-serif; font-weight: 400; font-style: normal; }
.rajdhani-medium { font-family: "Rajdhani", sans-serif; font-weight: 500; font-style: normal; }
.rajdhani-semibold { font-family: "Rajdhani", sans-serif; font-weight: 600; font-style: normal; }
.rajdhani-bold { font-family: "Rajdhani", sans-serif; font-weight: 700; font-style: normal; }

/* Icon */
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Buttons */
button, .btn {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

button:hover, .btn:hover {
    box-shadow: 0 1px 10px rgba(255, 255, 255, 0.5); 
    transform: translateY(-2px); 
    color: var(--white);
}

button:active, .btn:active {
    box-shadow: 0 1px 10px rgba(255, 255, 255, 0.8); 
    transform: translateY(0);
}

.shop-now-button{
    background: var(--primary);
    color: var(--white);
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: var(--button-hover);
    color: var(--white);
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.5); 
}

.text-black { color: var(--dark) !important; }
.border-black { border: 1px solid var(--dark) !important; }

/* Forms and Inputs */
.qty_input {
    width: 70px !important;
    font-size: 16px;
    text-align: center;
}

.input-group-prepend .btn, .input-group-append .btn {
    width: auto;
}

/* Navigation */
#top-nav, #main-nav-container {
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    border-bottom: 1px solid #000000;
}

.nav-link {
    color: #FFFFFF;
    position: relative; /* Required for pseudo-elements */
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #D32F2F;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #D32F2F;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover::before {
    visibility: visible;
    width: 100%;
}

.dropdown-item {
    color: #000000; 
    transition: color 0.3s ease, background-color 0.3s ease;
}

.dropdown-item:hover {
    color: #FFFFFF;
    background-color: #D32F2F;
}

/* Custom Elements */

/* Product Form */

/* Style for the file input button */
.btn-file {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer; /* Ensure the cursor changes to pointer for the button */
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    transition: background-color 0.3s ease;
    text-align: center; /* Ensure text is centered */
    width: auto; /* Optional: adjust based on your layout */
}

.btn-file * {
    cursor: pointer;
}

/* Style when hovering over the button */
.btn-file:hover {
    background-color: #0056b3;
}

/* Style for the file input element */
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Custom checkbox styling */
.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
    background-color: transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Additional style for the button when active/focused */
.btn-file:active, .btn-file:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    background-color: #0069d9;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary { border-bottom-color: #007bff !important; }
.arrow-secondary { border-bottom-color: #6c757d !important; }
.arrow-success { border-bottom-color: #28a745 !important; }
.arrow-danger { border-bottom-color: #dc3545 !important; }
.arrow-warning { border-bottom-color: #ffc107 !important; }
.arrow-info { border-bottom-color: #17a2b8 !important; }
.arrow-light { border-bottom-color: #f8f9fa !important; }
.arrow-dark { border-bottom-color: #343a40 !important; }

/* Containers and Banners */
.custom-container { background-color: var(--white); }
.spacing-container {
    margin-top: 168px;
}

#delivery-banner {
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
}

/* Back-to-Top Button */
.btt-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

.btt-button:hover {
    background-color: var(--primary-hover);
    transform: scale(1.1);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.btt-link {
    text-decoration: none;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.btt-link:hover { color: var(--white); }

.btt-button .fa-arrow-up {
    font-size: 20px;
    color: var(--white);
}

/* Utility Classes */
.message-container { position: fixed; top: 72px; right: 15px; z-index: 99999999999; }
.custom-toast { overflow: visible; }
.toast-capper { height: 2px; }
.update-link, .remove-item { cursor: pointer; }

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Media Queries */
@media (max-width: 768px) {
    .qty_input {
        width: 50px !important; 
        font-size: 14px;
    }
    .input-group-prepend .btn, .input-group-append .btn {
        width: 40px;
    }
    .input-group-prepend .btn span, .input-group-append .btn span {
        padding: 0.25rem 0.5rem;
    }
    .btt-button {
        width: 40px;
        height: 40px;
        bottom: 15px;
        right: 15px;
    }
    .btt-button .fa-arrow-up {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .container { max-width: 80%; }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container { padding-top: 164px; }
}

@media (max-width: 991px) {
    .header-container { padding-top: 90px; }
    body { height: calc(100vh - 90px); }

    .logo-font {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
        font-size: 1rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}
