<section>
    <!-- Footer -->
    <footer class="bg-dark text-white pt-5">
        <!-- Container -->
        <div class="container p-4">
            <!-- Grid row -->
            <div class="row">
                <!-- Company Info Column -->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    

                    <div id="mc_embed_shell">
                        
                        
                        <div id="mc_embed_signup">
                            <form action="https://herokuapp.us9.list-manage.com/subscribe/post?u=2a3c8d942c4f4d7be8cd28c8c&amp;id=24c14a8942&amp;f_id=006557e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                                <div id="mc_embed_signup_scroll">
                                    <h2>Subscribe to newsletter</h2>
                                    <div class="indicates-required">
                                        <span class="asterisk">*</span> indicates required
                                    </div>
                                    <div class="mc-field-group">
                                        <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                                        <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="">
                                    </div>
                                    <div id="mce-responses" class="clear foot">
                                        <div class="response" id="mce-error-response" style="display: none;"></div>
                                        <div class="response" id="mce-success-response" style="display: none;"></div>
                                    </div>
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                        <input type="text" name="b_2a3c8d942c4f4d7be8cd28c8c_24c14a8942" tabindex="-1" value="">
                                    </div>
                                    <div class="optionalParent">
                                        <div class="clear foot">
                                            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                                            <p style="margin: 10px auto;">
                                                <a href="http://eepurl.com/i1JGyQ" title="Mailchimp - email marketing made easy and fun">
                                                    <span style="display: inline-block; background-color: transparent; border-radius: 4px;">
                                                        <img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: block; margin: 0 auto; padding: 2px 0px;">
                                                    </span>
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
                        <script type="text/javascript">
                            (function($) {
                                window.fnames = new Array(); 
                                window.ftypes = new Array();
                                fnames[0]='EMAIL';ftypes[0]='email';
                                fnames[1]='FNAME';ftypes[1]='text';
                                fnames[2]='LNAME';ftypes[2]='text';
                                fnames[3]='ADDRESS';ftypes[3]='address';
                                fnames[4]='PHONE';ftypes[4]='phone';
                                fnames[5]='BIRTHDAY';ftypes[5]='birthday';
                                fnames[6]='COMPANY';ftypes[6]='text';
                            }(jQuery));
                            var $mcj = jQuery.noConflict(true);
                        </script>
                    </div>
                    


                </div>
                <!-- Quick Links Column -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Quick Links</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="/" class="text-white">Home</a>
                        </li>
                        <li>
                            <a href="/products/" class="text-white">Shop All Products</a>
                        </li>
                        <li>
                            <a href="/about/" class="text-white">About Us</a>
                        </li>
                        <li>
                            <a href="/contact/" class="text-white">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <!-- Social -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Social</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.facebook.com/profile.php?id=61567694603658" 
                                class="text-white" target="_blank"
                                rel="noopener noreferrer" 
                                aria-label="Visit our Facebook page (opens in a new tab)">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Grid row -->
        </div>
        <!-- Container -->

        <!-- Copyright -->
        <div class="text-center p-3 bg-secondary">
            Made by <a class="text-white" href="https://github.com/xttrust" target="_blank"
            rel="noopener noreferrer" aria-label="xttrust's github profile external link">xttrust</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>
